
<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur nemo rem quod, quaerat dolor autem a minus exercitationem mollitia voluptas.</p>
<%- include("footer") -%>