<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>



    <h1> <%= KindOfday %> </h1>

    <ul>
       <% for(var i=0; i<newlistItems.length ; i++){ %>
            <li> <%= newlistItems[i] %> </li>
       <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" id="">
        <button type="submit">Add</button>
    </form>
</body>
</html>