<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>



    <h1> <%= KindOfday %> </h1>

    <ul>
        <li>a</li>
        <li>e</li>
        <li>c</li>
    </ul>
    <form action="/" method="post">
        input
    </form>
</body>
</html>